* {
    padding: 0;
    margin:0;
    font-family: Calibri;
    
}

body {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50pt;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.hotelName{
    padding-bottom: 5pt;
}

p{
    padding-bottom: 15pt;
}




