@tailwind base
@tailwind components
@tailwind utilities

$background-color: lavender
$font-family: "Calibri"
$font-color: black

body
  background-color: $background-color

*
  font-family: $font-family
  color: $font-color

#yt
  background-color: black
  display: flex
  justify-content: center