body {
    overflow-x: hidden;
}

#rps-wrapper {
    border: 1px solid black;
    border-radius: .5rem;
    width: 80%;
    margin: 10% 1vh;
    /*max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;*/
}

#rps-header {
    width: 100%;
    border-bottom: 1px solid black;
    font-weight: bold;
}

.rps-game {
    display: flex;
    flex-direction: row;
}

.id {
    position: absolute;
    margin-left: 1%;
}

.date {
    position: absolute;
    margin-left: 4%;
}

.name1 {
    position: absolute;
    margin-left: 20%;
}

.pick1 {
    position: absolute;
    margin-left: 30%;
}

.middle {
    position: absolute;
    margin-left: 42%;
}

.pick2 {
    position: absolute;
    margin-left: 50%;
}

.name2 {
    position: absolute;
    margin-left: 60%;
}

.delete {
    position: absolute;
    margin-left: 70%;
}

#linkAdd {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 4px;
    margin: 2vh;
    width: 50px;
    text-align: center;
    border-radius: .5rem;
    transition: .2s;
}

#linkAdd:hover {
    background-color: #cfd0d5;
}